write a programe that compute the netamount of bank acount based

In [ ]:
netamount=0
while True:
  s=input("num:")
  if not s:
    break
  values=s.split(" ")
  operation=values[0]
  amount=int(values[1])
  if operation=="D":
    netamount+=amount
  elif operation=="W":
    netamount-=amount
  else:
    pass
print(netamount)

num:D 100
num:D 200
num:D 300
num:W 100
num:D 100
num:
600

define a function that can accept two strings as input and print the string with maximum length in console.if two strings have same length,then the functio  should print all string line by line

In [ ]:
def strings():
  a=input("string1:")
  b=input("string2:")
  if len(a)>len(b):
    print(a)
  elif len(b)>len(a):
    print(b)
  elif len(a)==len(b):
    print(a)
    print(b)
strings()

string1:sana
string2:rana
sana
rana

In [ ]:
def strings(a,b):
  len1=len(a)
  len2=len(b)
  if len1>len2:
    print(a)
  elif len2>len1:
    print(b)
  else:
    print(a)
    print(b)
strings(input("string1:"),input("string2:"))

string1:sana
string2:rana
sana
rana

define a function which can print a dictionary  where the keys are numbers between 1 and 20 (both included) and the values are square of keys.

In [ ]:
def dic():
  d={}
  for i in range(1,21):
    d[i]=i*i
  print(d)
dic()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

define a function which can generate a list where the values are square of numbers between 1 and 20 (bothincluded).Then the function needs to print the last 5 elements in the list.

In [ ]:
def lis():
  list1=[]
  for i in range(1,21):
    list1.append(i*i)
  print(list1[-5:])
lis()

[256, 289, 324, 361, 400]

with a given tuple(1,2,3,4,5,6,7,8,9,10),write a program to print the first half values in one line and last half values in another line.

In [ ]:
tuple1=(1,2,3,4,5,6,7,8,9,10)
print(tuple1[:5])
print(tuple1[5:])

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

write a program which accept a string as input to print "yes" if the string is "yes" or "YES" or "Yes" ,otherwise print"No"

In [ ]:
a=input("string:")
if a=="yes" or a=="YES" or a=="Yes":
  print("Yes")
else:
  print("No")

string:yes
Yes

write a program which can filter even numbers in a list by using filter function.The list is:[1,2,3,4,5,6,7,8,9,10].

In [ ]:
list1=[1,2,3,4,5,6,7,8,10]
even=filter(lambda x:x%2==0,list1)

print(list(even))

[2, 4, 6, 8, 10]

In [ ]:
list1=[1,2,3,4,5,6,7,8,10]
def even(x):
  return x%2==0
list2=list(filter(even,list1))
print(list2)

[2, 4, 6, 8, 10]

please write a program to generate all sentance where subject is in ["I","YOU"] and verb is in ["Play","Love"]
and the object is in ["Hockey","Football"].

In [ ]:
sub=["I","YOU"]
verb= ["Play","Love"]
obj=["Hockey","Football"]
for i in sub:
  for j in verb:
    for k in obj:
      print(i+" "+j+" "+k)

I Play Hockey
I Play Football
I Love Hockey
I Love Football
YOU Play Hockey
YOU Play Football
YOU Love Hockey
YOU Love Football